{% for page in pages %}
  <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">
  <div class="mdl-card__media mdl-color-text--grey-50">
    <h3><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h3>
  </div>
  <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
  Todo
  </div>
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div class="minilogo"></div>
    <div>
      {% if page.meta.tags|length %}
        <span>
        {% for page_tag in page.meta.tags %}
        <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
        {% endfor %}
        </span>
      {% endif %}
    </div>
  </div>
  </div>
{% endfor %}
