{% extends "base.html" %}

{% block main%}

<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main class="mdl-layout__content">
    <div class="demo-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{{ url_for("index") }}" title="go home" role="button">
    <i class="material-icons" role="presentation">arrow_back</i>
    </a>
    </div>
  
    <div class="demo-blog__posts mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
    <h3>{{ page.title }}</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
    <div>
    <span>2 days ago</span>
    </div>
    <div>  
    <span>
    {% if page.meta.tags|length %}
    {% for page_tag in page.meta.tags %}
    <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
    {% endfor %}
    {% endif %}
    </span>
    </div>
    <div class="section-spacer"></div>
    <div class="meta__favorites">
    425 <i class="material-icons" role="presentation">favorite</i>
    <span class="visuallyhidden">favorites</span>
    </div>
    <div>
    <i class="material-icons" role="presentation">bookmark</i>
    <span class="visuallyhidden">bookmark</span>
    </div>
    <div>
    <i class="material-icons" role="presentation">share</i>
    <span class="visuallyhidden">share</span>
    </div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
    {{ page.html|safe }}
    </div>
    </div>
    
    <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
      <a href="#" class="demo-nav__button">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
      <i class="material-icons">arrow_back</i>
      </button>
      Newer
      </a>
      <div class="section-spacer"></div>
      <a href="#" class="demo-nav__button">
      Older
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
      <i class="material-icons">arrow_forward</i>
      </button>
      </a>
    </nav>
    </div>
  {% include "footer.html" %}
  </main>
{% endblock %}
